* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}
ol,
ul {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizeLegibility;
}
a {
  text-decoration: none;
  color: white;
  text-rendering: optimizeLegibility;
}
body {
  padding: 0;
  box-sizing: border-box;
  min-width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgb(10, 10, 10), rgb(34, 34, 34));
  background-position: fixed;
}
h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  mix-blend-mode: difference;
  text-rendering: optimizeLegibility;
}

h4,
h5,
p,
a {
  font-family: "Raleway", sans-serif;
  mix-blend-mode: difference;
  text-rendering: optimizeLegibility;
}
.centerImage img {
  text-align: center;
  width: 100%;
  object-fit: cover;
}

.loader {
  padding-top: 12vh;
  margin-left: 47%;
}

@media (prefers-reduced-motion: reduce) {
  body {
    scroll-behavior: auto;
  }
}
